DB_NAME=
DB_USERNAME=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# App settings
NODE_ENV
WINDOW_AGE
PORT=8000
ADMIN_DOMAIN
ALLOWED_ORIGIN=http://localhost:3000,http://54.234.145.12:8003,http://localhost:8003,http://localhost:3001,http://localhost:8080
# JWT Keys
JWT_LOGIN_SECRET=12345  
VERIFICATION_TOKEN_SECRET=5678 
RESET_PASSWORD_KEY=34567

# JWT Expiries
JWT_LOGIN_TOKEN_EXPIRY
RESET_PASSWORD_EXPIRY
VERIFICATION_TOKEN_EXPIRY

# User BE
USER_BACKEND_ADDRESS

# Credentials encryption key
CREDENTIAL_ENCRYPTION_KEY

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379


# S3 Credentials
AWS_SECRET_ACCESS_KEY
AWS_ACCESS_KEY
AWS_BUCKET
AWS_REGION

#mail sending service
MAILGUN_API_KEY
MAILGUN_DOMAIN
SENDER_EMAIL


# Mailjet
MAILJET_API_KEY
MAILJET_SECRET_KEY
EMAIL_SENDER_NAME
EMAIL_SENDER_EMAIL


ALEA_CASINO_ID=
ALEA_ENVIRONMENT_ID=
ALEA_SECRET_KEY=
ALEA_SECRET_TOKEN=
ALEA_BASE_URL=

ALEA_CASINO_PP_SC_ID=
ALEA_PP_ENVIRONMENT_ID=
ALEA_PP_SECRET_KEY=

#Fyntek Credential
FYNTEK_SIGNING_KEY=
FYNTEK_API_KEY=
FYNTEK_BASE_URL=

JOB_BACKEND_URL=http://localhost:8080
